<div class="album-container">

    <div class="title">
        <img src="https://i.scdn.co/image/ab67616d00001e020cbecafa929898c82adc519c" alt="">
        <div class="info">
            <h1>UTA'S SONGS ONE PIECE FILM RED</h1>
            <div class="details">
                <img class="img-artist" src="https://i.scdn.co/image/ab6761610000f178f3bb04995cb61f04936424ee" alt="">
                <p>Ado 	&#8226; 2022 	&#8226; 8 brani, 30 min 56 sec.</p>
            </div>
        </div>
    </div>

    <div class="icons">
        <mat-icon>play_arrow</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>download</mat-icon>
        <mat-icon>more_horiz</mat-icon>
    </div>

    <div class="table-songs">
        <div class="tag">
            <ul>
                <li>#</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
            </ul>
        </div>
        <div class="title">
            <ul>
                <li>Title</li>
                <li (click)="playSong()">New Genesis</li>
                <li>I'm invincible</li>
                <li>Backlight</li>
                <li>Fleeting Lullaby</li>
                <li>Tot Musica</li>
                <li>The World's Continuation</li>
                <li>Where the Wind Blows</li>
                <li>BINKUSUNO SAKE</li>
            </ul>
        </div>
        <div class="time">
            <ul>
                <li><mat-icon>schedule</mat-icon></li>
                <li>3:46</li>
                <li>4:17</li>
                <li>3:57</li>
                <li>2:53</li>
                <li>3:15</li>
                <li>4:47</li>
                <li>4:32</li>
                <li>3:26</li>
            </ul>
        </div>
    </div>

</div>
